* {
  margin: 0;
  border: 0;
}

.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  background: rgb(62, 157, 106);
  background: linear-gradient(
    90deg,
    rgba(62, 157, 106, 1) 0%,
    rgba(165, 233, 222, 1) 100%,
    rgba(212, 212, 224, 0.6895133053221288) 100%
  );
}
